/project/build.properties
/.bloop
/.metals
/project/metals.sbt
/target
/project/project
/project/target
.DS_Store
/project/.bloop/
/.bsp
/.idea
/eqs
/graphs
experiments/.venv
experiments/.ipynb_checkpoints
experiments/*.pdf
experiments/trivial-*.log
/verification
/eqs
/graphs
/parikh-plus
.vscode
benchmark/target
validator/target
